In [8]:
import re
import os 
import numpy as np
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import glob
import time
import pandas as pd
plt.rcParams["figure.figsize"] = (3,3)

print (time.ctime())

Tue Nov 30 22:52:55 2021

In [2]:
f_path="180V" # folder
l=os.listdir(f_path) # list of all files in a folder 
 
for count, nam in enumerate(l):
    if nam.startswith("8ions")==True:
        print (nam)
        filename = str(nam[:-4])
        print (filename)
        it = pd.read_csv(f'{f_path}/{filename}.csv')
        it = it.drop(columns = 'Unnamed: 5')
        it = it.rename(
            columns = {'#Col': 'y', '#Row': 'x', '#ToA': 'time', '#ToT[arb]': 'center flux', '#Centroid': 'cluster size'}
        )  # renames columns
        ToA = it['time']
        it['time'] = it['time'] - ToA[0]
        it = it.sort_values(['time'])
        print (it.head(3))
        it.to_csv(filename)  ##### changes actual file
        #it.head(3)
        
    
print (count) # just to cross-check number of processed files

8ions_1200sec.csv
8ions_1200sec
   #Col  #Row          #ToA  #ToT[arb]  #Centroid  Unnamed: 5
0    47     6  226943416832       1725          8         NaN
1   147    35  226947338752       2575          7         NaN
2    63    62  226954600960       1375          4         NaN
     y   x      time  center flux  cluster size
0   47   6         0         1725             8
1  147  35   3921920         2575             7
2   63  62  11184128         1375             4
8ions_1200sec_2.csv
8ions_1200sec_2
   #Col  #Row          #ToA  #ToT[arb]  #Centroid  Unnamed: 5
0    89    47  228938805504       1525          7         NaN
1    35   110  228941321472       1550          5         NaN
2   100    53  228946757888       2675          9         NaN
     y    x     time  center flux  cluster size
0   89   47        0         1525             7
1   35  110  2515968         1550             5
2  100   53  7952384         2675             9
8ions_600sec.csv
8ions_600sec
   #Col  #Row          #ToA  #ToT[arb]  #Centroid  Unnamed: 5
0   223    89  231589072384       1825          7         NaN
1    95    44  231589460736       1775          7         NaN
2    17   186  231597678080        575          4         NaN
     y    x     time  center flux  cluster size
0  223   89        0         1825             7
1   95   44   388352         1775             7
2   17  186  8605696          575             4
2

In [4]:
filename

'8ions_600sec'

In [5]:
pd.read_csv(filename)

          Unnamed: 0    y    x            time  center flux  cluster size
0                  0  223   89               0         1825             7
1                  1   95   44          388352         1775             7
2                  2   17  186         8605696          575             4
3                  3  179  199        18109696          600             2
4                  4   97   48        19385344         1050             3
...              ...  ...  ...             ...          ...           ...
10925711    10925711   89   63  99560719557376          925             5
10925712    10925712   90   68  99560724245760          450             2
10925713    10925713   96   66  99560728212736         1450             6
10925714    10925714   92   59  99560737379584         2250             8
10925715    10925715   86   59  99560739708672         1275             4

[10925716 rows x 6 columns]

In [6]:
pd.read_csv('8ions_1200sec')

          Unnamed: 0    y    x             time  center flux  cluster size
0                  0   47    6                0         1725             8
1                  1  147   35          3921920         2575             7
2                  2   63   62         11184128         1375             4
3                  3   91   26         33069056         1500             6
4                  4   90   56         37314816         1525             6
...              ...  ...  ...              ...          ...           ...
20906499    20906499  147   86  199117762558976         1650             6
20906500    20906500  187  145  199117767495424          500             4
20906501    20906501  198   41  199117767966720         1200             4
20906502    20906502  177   86  199117772724992         1300             4
20906503    20906503   36   67  199117777226496         2550             7

[20906504 rows x 6 columns]

In [7]:
pd.read_csv('8ions_1200sec_2')

          Unnamed: 0    y    x             time  center flux  cluster size
0                  0   89   47                0         1525             7
1                  1   35  110          2515968         1550             5
2                  2  100   53          7952384         2675             9
3                  3   89   47         29245184         3375             9
4                  4  105   52         58069248         2600             7
...              ...  ...  ...              ...          ...           ...
19621479    19621479   98   53  199117666180608         2675             8
19621480    19621480   64  150  199117681620992         2525             7
19621481    19621481   62   49  199117689969408         1725             6
19621482    19621482   94   61  199117691713024          900             4
19621483    19621483  111   53  199117695032064         2200             7

[19621484 rows x 6 columns]

### 130V

x_389.5_y_149

In [10]:
f_path="130V"
l=os.listdir(f_path)
 
for count, nam in enumerate(l):
    if nam.startswith("8ions")==True:
        print (nam)
        filename = str(nam[:-4])
        print (filename)
        it = pd.read_csv(f'{f_path}/{filename}.csv')
        it = it.drop(columns = 'Unnamed: 5')
        it = it.rename(columns = {'#Col': 'y', '#Row': 'x', '#ToA': 'time', '#ToT[arb]': 'center flux', '#Centroid': 'cluster size'})
        ToA = it['time']
        it['time'] = it['time'] - ToA[0]
        it = it.sort_values(['time'])
        print (it.head(3))
        it.to_csv(filename)  ##### changes actual file
        #it.head(3)
        """new_name=(f'{f_path}_{count+1}.csv')
    print (new_name)
    os.rename(f_path+'/'+nam,new_name)"""
    
print (count)

8ions_1200sec.csv
8ions_1200sec
     y   x      time  center flux  cluster size
0   92  61         0          325             1
1  103  50   7976192         1375             4
2   90  56  13972480         1775             7
8ions_1200sec_2.csv
8ions_1200sec_2
    y    x      time  center flux  cluster size
0  89   55         0         1200             6
1  91   56   2906368         1925             7
2   4  144  26302464         1575             4
8ions_1200sec_3.csv
8ions_1200sec_3
     y    x      time  center flux  cluster size
0   33  139         0         2075            12
1  112   14   7604480         2875            12
2   30   98  67468032          975             4
2